.igFeed {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.igFeed a > img {
    width: 100%;
    height: auto;
}
.igFeed a > img:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.8;
}