.imgWrapper {
    height: 500px;
    object-fit: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.imgWrapper a, .imgWrapper a img {
    height: 100%;
    width: auto;
}

.imgWrapper a img {
    margin-bottom: 0px;
}

.imgWrapper a img:hover {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: .5;
    cursor: pointer;
}

.description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.name, .price, .name:hover, .price:hover {
    font-size: 15px;
    margin: 0px;
    color: black;
}