@font-face {
    font-family: 'Gaegu';
    src: url('../public/fonts/Gaegu-Light.woff') format('woff');
    src: url('../public/fonts/Gaegu-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*  {
    font-family: 'Gaegu', 'Shadows Into Light';
}
main {
    min-height: 92vh;
    margin-top: 63px;
}
  /* Titles for every page */
.page-title {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
}
  /* Products Pages */
.product-section {
    height: 500px;
    object-fit: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-section a, .product-section a img {
    height: 100%;
    width: auto;
}
.products {
    margin-bottom: 0px;
}
.products:hover {
    transition: 1s;
    opacity: .5;
    cursor: pointer;
}
.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.product-name, .product-price, .product-name:hover, .product-price:hover {
    font-size: 15px;
    margin: 0px;
    color: black;
}
/* Landing Page */
.landing-image-one {
    cursor: pointer;
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
.landing-image-two {
    cursor: pointer;
    margin-top: 250px;
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
.landing-image-three {
    cursor: pointer;
    margin-top: 50px;
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
.landing-image-four {
    cursor: pointer;
    max-width: auto;
    margin-top: 275px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
.image-description, .image-description:hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    color: black;
}
/* Instagram Feed */
.instagram-feed {
    margin: 20px 0;
    display: flex;
}
.instagram-feed a > img {
    width: 100%;
    height: auto;
}
.instagram-feed a > img:hover {
    transition: 0.5s;
    opacity: 0.8;
}
/* About Page */
.about-image-one {
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
.about-image-two {
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
.about-paragraph {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    text-align: center;
}
/* Contact Form */
.contact-des {
    text-align: center;
    margin: -30px 60px 20px 60px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-form-input, .product-form-input {
    max-width: 500px;
    width: 70%;
    padding: 10px;
    margin: 10px;
}
.contact-form-input-button {
    max-width: 500px;
    width: 70%;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #c4dbc8;
}
.contact-form-input-button:hover {
    transition: 1s ease-in-out;
    background-color:rgb(150, 192, 150);
}
  /* Shop Policy Page */
.policy-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: -40px 30px;
}
.policy-body {
    max-width: 900px;
    text-align: center;
    margin: 5px 0px;
}
  
/* Subscribe Modal */
.modal-content {
    border: none !important; 
    text-align: center;
}
.subscribe-form {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.product-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.no-products-msg, .no-results-msg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  /* Navigation and Dropdown */
.navigation {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    padding: 50px 20px;
}
.navigation > div a {
    cursor: pointer;
    color: black;
    padding: 10px;
}
.navigation > div a:hover {
    text-decoration: none;
    color: #c4dbc8;
}
.navigation > div button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    padding: 10px;
}
.navigation > div button:hover {
    text-decoration: none;
    color: rgb(150, 192, 150);
}
.navigation > div button:focus {
    outline: none;
}
#nav-header {
    font-size: 80px;
}
.dropdown-nav {
    display: none;
}
.dropdown-nav-hover >  a {
    color: black;
    padding: 10px;
}
.dropdown-nav-hover >  a:hover {
    text-decoration: underline;
    color: black;
}
.dropdown-nav-hover {
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: flex-start;
    align-items: center ;
    flex-wrap: wrap;
    top: 100px;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    height: 60px;
    width: 100%;
    padding: 0 20px;
}
@media only screen and (max-width: 420px) {
    .dropdown-nav-hover {
        height: 90px;
    }
}
  /* Search Form */
.search-form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.search-form-input {
    width: 500px;
    padding: 10px;
    margin: 10px;
}
.search-form-input-button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #c4dbc8;
}
.search-form-input-button:hover {
    background-color: rgb(150, 192, 150);
}
/* Loading spinnners */
.ig-spinner {
    display: flex;
    justify-content: center;
}
.page-spinner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-details-page {
    display: flex;
    justify-content: center;
    margin: 0;
}

#product-details-container {
    display: flex;
    max-width: 1100px;
    margin: 40px 0 60px 0;
}
#product-details {
    margin-left: 40px;
}

#product-image {
    max-width: 400px; 
}

@media only screen and (max-width: 600px) {
    #product-details-container {
        display: block;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #product-details {
        margin: 0px 20px;
    }

}

/* Product carousel */

.carousel .control-dots .dot.selected {
    box-shadow: none !important;
    background: black !important;
}

.carousel .control-dots .dot {
    box-shadow: none !important;
    background: white !important;
    border: solid 1px black;
}

.carousel-status {
    display: none;
}

.carousel .thumb {
    border: none !important;
}

.carousel .thumb:hover {
    border: none !important;
}

.carousel .thumb.selected {
    border: none !important;
}

.carousel.carousel-slider .control-arrow {
    display: none;
}

.thumbs.animated {
    padding: 0px;
}