@font-face {
    font-family: 'Gaegu';
    src: url('../public/fonts/Gaegu-Light.eot');
    src: url('../public/fonts/Gaegu-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Gaegu-Light.woff2') format('woff2'),
        url('../public/fonts/Gaegu-Light.woff') format('woff'),
        url('../public/fonts/Gaegu-Light.ttf') format('truetype'),
        url('../public/fonts/Gaegu-Light.svg#Gaegu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    font-family: 'Gaegu', 'Shadows Into Light';
  }
  main {
    min-height: 100vh;
    margin-top: 63px;
    margin-bottom: 30px;
  }
  /* Titles for every page */
  .page-title {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
  }
  /* Products Pages */
  .product-section {
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* ^^ make a square container that scales but stays a square and images fill to cover that square */
  .products {
    margin-bottom: 0px;
  }
  .products:hover {
    transition: 1s;
    opacity: .5;
    cursor: pointer;
  }
  .product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .product-name, .product-price, .product-name:hover, .product-price:hover {
    font-size: 15px;
    margin: 0px;
    color: black;
  }
  /* Landing Page */
  .landing-image-one {
    cursor: pointer;
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
  .landing-image-two {
    cursor: pointer;
    margin-top: 250px;
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
  .landing-image-three {
    cursor: pointer;
    margin-top: 50px;
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
  .landing-image-four {
    cursor: pointer;
    max-width: auto;
    margin-top: 275px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
  .image-description, .image-description:hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    color: black;
  }
  /* Instagram Feed */
  .instagram-feed {
    margin: 50px 0;
    display: flex;
  }
  .instagram-feed a > img {
    width: 100%;
    height: auto;
  }
  .instagram-feed a > img:hover {
    transition: 0.5s;
    opacity: 0.8;
  }
  /* About */
  .about-image-one {
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
  .about-image-two {
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
  .about-paragraph {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    text-align: center;
  }
  /* Contact Form */
  .contact-des {
    text-align: center;
    margin: -30px 60px 20px 60px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-form-input, .product-form-input {
    width: 500px;
    padding: 10px;
    margin: 10px;
  }
  .contact-form-input-button {
    width: 500px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #addfad;
  }
  .contact-form-input-button:hover {
    background-color:#a4d1a4;
  }
  /* Shop Policy */
  .policy-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: -40px 0 0 0;
  }
  .policy-body {
    max-width: 900px;
    text-align: center;
  }
  /* Nav Bar Dropdown */
  a.dropdown-toggle::after {
    content: none;
  }
  /* Shopping Cart */
  .cart-delete-btn {
    border: none;
    background-color: transparent;
    color: red;
    padding-left: 0px;
  } 
  .cart-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 0 50px;
  }
  .cart-table {
    max-width: 900px;
  }
  .cart-checkout-btn {
    border: none;
    padding: 15px;
  }
  .cart-mobile {
    display: none;
  }
  .cart-checkout-btn-mobile {
    display: none;
  }
  .cart-image {
    max-width: 100px;
  }
  @media only screen and (min-width: 200px) and (max-width: 700px) {
    .cart-table {
      display: none;
    }
    .cart-mobile {
      display: inline-table;
    }
    .cart-checkout-btn-mobile {
      border: none;
      padding: 15px;
      display: inline;
      margin: 20px;
    }
    .cart-image {
      max-width: 150px;
    }
  }
  /* Subscribe Modal */
  .modal-content {
    border: none !important; 
    text-align: center;
  }
  .subscribe-form {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .product-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .no-products-msg, .no-results-msg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-to-cart-btn {
    background-color: #addfad;
    border: none;
    padding: 10px;
  }
  .add-to-cart-btn:hover {
    transition: 0.5s ease-in-out;
    background-color: #a4d1a4;
  }
  #size-select {
    height: 35px;
    border-radius: 0;
  }
  /* Navigation */
  .navigation {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    padding: 0 20px;
  }
  .navigation > div a {
    cursor: pointer;
    color: black;
    padding: 10px;
  }
  .navigation > div a:hover {
    text-decoration: none;
    color: #addfad;
  }
  .navigation > div button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    padding: 10px;
  }
  .navigation > div button:hover {
    text-decoration: none;
    color: #addfad;
  
  }
  .navigation > div button:focus {
    outline: none;
  }
  #nav-header {
    font-size: 50px;
  }
  .dropdown-nav {
    display: none;
  }
  .dropdown-nav-hover >  a {
    color: black;
    padding: 10px;
  }
  .dropdown-nav-hover >  a:hover {
    text-decoration: none;
    color: #addfad;
  }
  .dropdown-nav-hover {
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: flex-start;
    align-items: center ;
    flex-wrap: wrap;
    top: 60px;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    height: 60px;
    width: 100%;
    padding: 0 20px;
  }
  @media only screen and (max-width: 420px) {
    .dropdown-nav-hover {
      height: 90px;
    }
  }
  /* Search Form */
  .search-form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .search-form-input {
    width: 500px;
    padding: 10px;
    margin: 10px;
  }
  .search-form-input-button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #addfad;
  }
  .search-form-input-button:hover {
    background-color: #a4d1a4;
  }
  .ig-spinner {
    display: flex;
    justify-content: center;
  }
  .page-spinner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }