@font-face {
    font-family: 'Gaegu';
    src: url('../public/fonts/Gaegu-Light.woff') format('woff');
    src: url('../public/fonts/Gaegu-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*  {
    font-family: 'Gaegu', 'Shadows Into Light';
}

main {
    min-height: 92vh;
    margin-top: 63px;
    width: 100%;
}

/* Titles for every page */
.page-title {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
}

/* Loading spinnners */
.ig-spinner {
    display: flex;
    justify-content: center;
}
.page-spinner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Error msg */
.no-results-msg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Landing Page */
.landing-image-one {
    cursor: pointer;
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.landing-image-two {
    cursor: pointer;
    margin-top: 250px;
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.landing-image-three {
    cursor: pointer;
    margin-top: 50px;
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.landing-image-four {
    cursor: pointer;
    max-width: auto;
    margin-top: 275px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.image-description, .image-description:hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    color: black;
}

.index-button {
    border: none;
    padding: 20px 40px;
    border: solid 1px black;
    background-color: transparent;
    margin-top: 60px;
    box-shadow: 10px 5px black;
}

/* About Page */
.about-image-one {
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.about-image-two {
    max-width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.about-paragraph {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

/* Contact Form */
.contact-des {
    text-align: center;
    margin: -30px 60px 20px 60px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form-input, .product-form-input {
    max-width: 500px;
    width: 70%;
    padding: 10px;
    margin: 10px;
}

.contact-form-input-button {
    max-width: 500px;
    width: 70%;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #c4dbc8;
}

.contact-form-input-button:hover {
    transition: 1s ease-in-out;
    background-color:rgb(150, 192, 150);
}

/* Shop Policy Page */
.policy-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: -40px 30px;
}

.policy-body {
    max-width: 900px;
    text-align: center;
    margin: 5px 0px;
}

/* Search Form */
.search-form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.search-form-input {
    width: 500px;
    padding: 10px;
    margin: 10px;
}
.search-form-input-button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #c4dbc8;
}
.search-form-input-button:hover {
    background-color: rgb(150, 192, 150);
}

/* Product details page */
#product-details-page {
    display: flex;
    justify-content: center;
    margin: 0;
}

#product-details-container {
    display: flex;
    max-width: 1100px;
    margin: 40px 0 60px 0;
}
#product-details {
    margin-left: 40px;
}

#product-image {
    max-width: 400px; 
}

.add-to-cart-btn {
    background-color: #c4dbc8;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}
.add-to-cart-btn:hover {
    transition: 0.5s ease-in-out;
    background-color: rgb(150, 192, 150);
}

@media only screen and (max-width: 600px) {
    #product-details-container {
        display: block;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #product-details {
        margin: 0px 20px;
    }

}


/* Product carousel - product detail page */
.carousel .control-dots .dot.selected {
    box-shadow: none !important;
    background: black !important;
}

.carousel .control-dots .dot {
    box-shadow: none !important;
    background: white !important;
    border: solid 1px black;
}

.carousel-status {
    display: none;
}

.carousel .thumb {
    border: none !important;
}

.carousel .thumb:hover {
    border: none !important;
}

.carousel .thumb.selected {
    border: none !important;
}

.carousel.carousel-slider .control-arrow {
    display: none;
}

.thumbs.animated {
    padding: 0px;
}