.wrapper {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 50px 0 50px;
}
.table {
    max-width: 900px;
}

.image {
    max-width: 100px;
}

.checkoutBtn {
    border: none;
    padding: 15px;
}

.deleteBtn {
    border: none;
    background-color: transparent;
    color: red;
    padding-left: 0px;
} 

.mobile {
    display: none;
}

.checkoutBtnMobile {
    display: none;
}


@media only screen and (min-width: 200px) and (max-width: 700px) {
    .table {
        display: none;
    }
    .image {
        max-width: 150px;
    }
    .mobile {
        display: inline-table;
    }
    .checkoutBtnMobile {
        border: none;
        padding: 15px;
        display: inline;
        margin: 20px;
    }
}