.deleteBtn {
    border: none;
    background-color: transparent;
    color: red;
    padding-left: 0px;
} 
.wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 0 50px;
}
.table {
    max-width: 900px;
}
.checkoutBtn {
    border: none;
    padding: 15px;
}
.mobile {
    display: none;
}
.checkoutBtnMobile {
    display: none;
}
.image {
    max-width: 100px;
}

@media only screen and (min-width: 200px) and (max-width: 700px) {
    .table {
        display: none;
    }
    .mobile {
        display: inline-table;
    }
    .checkoutBtnMobile {
        border: none;
        padding: 15px;
        display: inline;
        margin: 20px;
    }
    .image {
        max-width: 150px;
    }
}